body, html {
    height: 100%;
    width: 100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    background-color: gray;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.ICenter{
  background-color: red;
  color: white;
}

.fitnessCenter
{
  background-color: purple;
  color: white;
}

.equipmentRoom
{
  background-color: blue;
  color: white;
}

.shiftrow
{
  background-color: lightgray;
}

#backgroundImg
{
  /* The image used */
    /* background-image: url("hartGym3.jpg"); */
    opacity: 0.5;
    /* Full height */
    height: 100%;
    width: 100%;
    border: 10px solid gray;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.shiftrow:nth-child(even) {
    background-color: #dddddd;
}
