body, html {
    height: 100%;
    width: 100%;
}
table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 50%;
    background-color: lightgray;
    border: 3px outset black;
}

td, th {
    border: 4px solid #dedede;
    text-align: left;
    padding: 8px;
}

.noTablesInDatabaseAlert
{
  font-size: 35px;
  background-color: white;
  border-radius: 8px;
  border: 4px solid black;
  width: 200px;
  text-align: center;
}

.deleteTableButton
{
  padding: 10px;
  font-size: 13px;
  color: white;
  border: 3px outset white;
  background-color: red;
  /* opacity: 0.4; */
}

.logoutButton
{
  padding: 10px;
  font-size: 20px;
  color: black;
  width: 150px;
  border: 3px solid black;
  background-color: yellow;
  border-radius: 5px;
}

.deleteTableButton:hover
{
  /* opacity: 1; */
  background-color: white;
  border: 3px inset red;
  color: red;
}

.ICenter{
  background-color: red;
  color: white;
}

.fitnessCenter
{
  background-color: purple;
  color: white;
}

.equipmentRoom
{
  background-color: blue;
  color: white;
}

.employeeCell
{
  text-align: center;
  font-size: 20px;
  font-family: Helvetica;
  color: black;
}

.topTableHead
{
  text-align: center;
  font-size: 25px;
  font-family: Helvetica;
  color: black;
}

.shiftrow
{
  text-align: center;
  font-size: 20px;
  font-family: Helvetica;
  background-color: gray;
  color: white;
}

.shiftrow:nth-child(even)
{
  background-color: #dddddd;
}

#backgroundImg
{
  /* The image used */
    /* background-image: url("hartGym3.jpg"); */
    opacity: 0.5;
    /* Full height */
    height: 100%;
    width: 100%;
    border: 10px solid gray;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}
