.centerWithBorder
{
    background-color: lightgray;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.center{
    margin: auto;
    width: 50%;
    opacity: 1.0;

}

.textAlignCenter
{
  opacity: 1.0;
  text-align: center;
  align-items: center;
}
body, html {
    height: 100%;
    width: 100%;
}
body
{

}

#backgroundImg
{
  /* The image used */
    /* background-image: url("hartGym3.jpg"); */
    opacity: 0.5;
    /* Full height */
    height: 100%;
    width: 100%;
    border: 3px solid gray;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;

}
