.centerWithBorder {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.center{
    margin: auto;
    width: 50%;

}

.textAlignCenter
{
  text-align: center;
  align-items: center;
}

#background
{
  background-image: url("hartGym.png");
  opacity: 0.5; 
}

#backgroundImg
{

}
