.centerWithBorder
{
    background-color: lightgray;
    margin: auto;
    width: 50%;
    border: 10px double gray;
    padding: 10px;
}

.center{
    margin: auto;
    width: 50%;
    opacity: 1.0;

}

.infoStyle
{
  font-family: Tahoma;
  font-size: 15px;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}

.errorStyle
{
  font-family: Tahoma;
  font-size: 10px;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  color: red;
}

.textAlignCenter
{
  opacity: 1.0;
  text-align: center;
  align-items: center;
}
body, html {
    height: 100%;
    width: 100%;
}
body
{

}

#backgroundImg
{
  /* The image used */
    /* background-image: url("hartGym3.jpg"); */
    opacity: 0.5;
    /* Full height */
    height: 100%;
    width: 100%;
    border: 10px solid gray;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.floatCenter
{
  /*  get it centered   */
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.hartIconImg
{
   float: left;
  /* position: absolute; top: 100px; left: 500px; */
  /* text-align: left; */
  height: 150px;
  width: 150px;

}

.loginButton
{
    background-color: gray;
    border: 1px solid black;
    color: black;
    padding: 7px 50px;
     /* text-align: center; */
     /* text-decoration: none; */
     /* display: inline-block; */
     font-size: 15px;
     /* margin: 4px 2px; */
     cursor: pointer;

     border-radius: 15px;

     /* position: relative; */
     /* left: -50%; /* or right 50% */

}

.loginButton:hover
{
  transition: background-color 1s, color 1s, box-shadow 0.5s;
  background-color: black;
  color: white;
  box-shadow: 4px 4px;
}
